<section>
  <img src="../../assets/background/4.jpg" alt="background" />
</section>
<section>
  <p>
    El Campeonato Mundial de Fórmula 1 de la FIA, más conocida como Fórmula Uno,
    Fórmula 1 o F1, es la principal competición de automovilismo internacional y
    campeonato de deportes de motor más popular y prestigioso del mundo. La
    entidad que la dirige es la Federación Internacional del Automóvil (FIA). En
    septiembre del 2016, la empresa estadounidense Liberty Media, a través de la
    adquisición del Formula One Group, es responsable actualmente de gestionar y
    operar el campeonato. 1​ Logos usados desde 1987 hasta 1993, y de 1993 hasta
    2017. A cada carrera se le denomina Gran Premio y el torneo que las agrupa
    se denomina Campeonato Mundial de Fórmula 1. La mayoría de los circuitos de
    carreras donde se celebran los Grandes Premios son autódromos, aunque
    también se utilizan circuitos callejeros y anteriormente se utilizaron
    circuitos ruteros. A su vez, los automóviles utilizados son monoplazas con
    la última tecnología disponible, siempre limitadas por un reglamento
    técnico; algunas mejoras que fueron desarrolladas en la Fórmula 1 terminaron
    siendo utilizadas en automóviles comerciales, como el freno de disco.2​ El
    inicio de la Fórmula 1 moderna se remonta al año 1950, en el que
    participaron escuderías como Ferrari, Alfa Romeo y Maserati. Algunas fueron
    reemplazadas por otras nuevas como McLaren, Williams, Red Bull y otras que
    volvieron como Mercedes que se han alzado varias veces con el Campeonato
    Mundial de Constructores. Por su parte, los pilotos deben contar con la
    superlicencia de la FIA para competir, que se obtiene por los resultados en
    otros campeonatos.
  </p>
  <p>
    Antecedentes Artículo principal: Antecedentes de Fórmula 1 El italiano Tazio
    Nuvolari en el Gran Premio de Mónaco de 1932. Las carreras de Gran Premio
    tienen sus raíces en las carreras automovilísticas surgidas en Francia en
    1894. En un principio se trataba de eventos individuales, sin conexión y en
    caminos de tierra, prácticamente sin ninguna limitación.3​ De 1927 a 1934,
    el número de carreras consideradas Gran Premio creció hasta alcanzar
    dieciocho en 1934, el máximo antes de la Segunda Guerra Mundial.4​ Creación
    del campeonato En 1945, inmediatamente después de la Segunda Guerra Mundial,
    solo hubo cuatro carreras. Antes de la Segunda Guerra Mundial se habían
    establecido las reglas para las competiciones de Grand Prix, que debían
    obedecer tanto autos como pilotos. Estas reglas, conocidas en su conjunto
    como Fórmula, no se concretaron hasta que en 1947 la antigua AIACR se
    reorganizó, pasándose a llamar la Federación Internacional del Automóvil,
    conocida por las siglas "FIA". Con sede central en París, al final de la
    temporada de 1949 anunció que para 1950 unirían varios Grandes Premios
    nacionales para crear un Campeonato Mundial de Pilotos, por lo que en 1950
    se celebró el primer campeonato de Fórmula 1. Por motivos económicos, en los
    años de 1952 y 1953 todavía se compitió con coches de Fórmula 2 y el
    calendario continuó incluyendo varias carreras que no eran consideradas
    Grandes Premios hasta 1983. Se estableció un sistema de puntuación y se
    reconocieron un total de siete carreras como aptas para el Campeonato del
    Mundo.5​ Las primeras carreras (1950-1958) Imagen del Mercedes Benz W 196
    con el que Juan Manuel Fangio consiguió los títulos de 1954 y 1955. El
    primer Gran Premio se realizó el 13 de mayo de 1950 en el circuito de
    Silverstone y fue ganado por el italiano Giuseppe Farina, consiguiendo
    además el campeonato de 1950 tras vencer a su compañero de equipo, el
    argentino Juan Manuel Fangio. Sin embargo, Fangio ganó el título en 1951,
    1954, 1955, 1956 y 1957. Su racha fue interrumpida debido al bicampeonato
    del piloto de Ferrari Alberto Ascari. También en esta época se vieron pasar
    pilotos como el británico Stirling Moss que aunque pudo competir con
    regularidad, nunca fue capaz de ganar el Campeonato Mundial, y por ese
    motivo los ingleses lo consideran «el conductor más grande que nunca ganó un
    título mundial».6​7​ El periodo estuvo dominado por las escuderías dirigidas
    por fabricantes de automóviles —Alfa Romeo, Ferrari, Maserati y Mercedes
    Benz— que habían competido antes de la guerra. En las primeras temporadas se
    llegaron a utilizar coches previos a la Segunda Guerra Mundial como el Alfa
    Romeo 159.5​ Tenían motor frontal, de 1,5 litros de cilindrada
    sobrealimentados o de 4,5 litros de aspiración natural y neumáticos con
    dibujo. Los campeonatos mundiales de 1952 y 1953 se realizaron con la
    normativa de la Fórmula 2, con coches más pequeños y menos potentes, debido
    al escaso número de coches disponibles de Fórmula 1.8​ Cuando se restableció
    el Campeonato Mundial de Fórmula 1, los motores estaban limitados a 2,5
    litros; en 1954, Mercedes presentó el avanzado W196, que incluía
    innovaciones como distribución desmodrómica e inyección de combustible, así
    como una carrocería estilizada. Mercedes ganó el campeonato de conductores
    dos años consecutivos (1954 y 1955), antes de retirarse de todas las
    competiciones automovilísticas, tras el desastre de Le Mans en 1955.5​ Los
    garajistas (1959-1980) Stirling Moss en Nürburgring en 1961. El primer gran
    desarrollo tecnológico se produjo cuando la Cooper Car Company reintrodujo
    coches con motor central (después de los pioneros Auto Union de Ferdinand
    Porsche en los años 1930), que evolucionaron desde los diseños de la empresa
    en la Fórmula 3. El australiano Jack Brabham, campeón del mundo en 1959,
    1960 y 1966, pronto demostró la superioridad del nuevo diseño. En 1961,
    todos los competidores regulares habían cambiado a coches con motor central.
    El Ferguson P99, con tracción a las cuatro ruedas, fue el último coche de
    Fórmula 1 con motor frontal en participar en el Campeonato Mundial. Fue el
    único de su clase en participar de la 1961, tomando la partida únicamente en
    el Gran Premio de Gran Bretaña.9​ El primer británico campeón del mundo fue
    Mike Hawthorn, que condujo un Ferrari al título en 1958.10​ Sin embargo,
    cuando Colin Chapman entró a la Fórmula 1 como diseñador de chasis y más
    tarde como fundador del Lotus Team, del fabricante Lotus Cars, los
    británicos tuvieron muchas más victorias en la siguiente década. Entre Jim
    Clark, Jackie Stewart, John Surtees, Jack Brabham, Graham Hill y Denny
    Hulme, conductores de equipos británicos y de la Mancomunidad Británica de
    Naciones, ganaron doce campeonatos mundiales entre 1962 y 1973.11​ En 1962,
    Lotus presentó un coche con un chasis monocasco de aluminio en lugar del
    tradicional chasis tubular. Este resultó ser el mayor avance tecnológico
    desde la introducción de los coches con motor central. En 1968, Lotus
    incluyó el logotipo de Imperial Tobacco en sus automóviles, introduciendo el
    patrocinio de marcas de tabaco en este deporte.12​ La aerodinámica adquirió
    lentamente importancia en el diseño de los coches a partir de la aparición
    perfiles aerodinámicos a finales de los años 1960. A finales de la década
    siguiente, Lotus presentó una carrocería con efecto suelo, que generaba una
    enorme fuerza de sustentación negativa y permitía circular a mayores
    velocidades en las curvas —aunque el concepto ya había sido utilizado en el
    Chaparral 2J de Jim Hall, en 1970—. Tan grandes eran las fuerzas
    aerodinámicas que presionaban los coches a la pista, hasta 5 g, que fue
    necesario aumentar la rigidez de los muelles de la suspensión, para que
    influyeran menos en la altura del chasis respecto al suelo, dejando a la
    suspensión casi rígida. Este aumento de rigidez de la suspensión hacía
    depender casi en exclusiva de los neumáticos para amortiguar al chasis y al
    piloto respecto a las irregularidades de la superficie del circuito.13​ La
    gran empresa (1981-) Véanse también: Categoría:Temporadas de Fórmula 1 y
    Temporada 2020 de Fórmula 1. Senna venció en el Gran Premio de Mónaco de
    1991 por cuarta vez a bordo de su McLaren-Honda MP4/6. A partir de la década
    de 1970, Bernie Ecclestone reorganizó la gestión de los derechos comerciales
    de la Fórmula 1. Ecclestone es ampliamente reconocido por la transformación
    del deporte en un negocio de miles de millones de dólares.14​15​Cuando
    Ecclestone compró el equipo Brabham en 1971 se ganó un puesto en la
    Asociación de Constructores de Fórmula 1 (FOCA) y en 1978 se convirtió en su
    presidente. Antes los propietarios de los circuitos controlaban los ingresos
    de los equipos y negociaban con cada uno individualmente; sin embargo,
    Ecclestone convenció a los equipos de hacerlo en conjunto a través de
    FOCA.16​ Le ofreció la Fórmula 1 a los propietarios del circuito como un
    paquete que podían tomar o dejar, a cambio de la publicidad a bordo.17​ La
    formación de la Fédération Internationale du Sport Automobile (FISA) durante
    1979 desató la polémica FISA-FOCA, durante la cual la FISA y su presidente
    Jean-Marie Balestre discutieron repetidamente con FOCA sobre los ingresos de
    televisión y las reglamentaciones técnicas.17​ FOCA amenazó con establecer
    una serie rival, boicoteó un Gran Premio y FISA retiró la sanción de las
    carreras. El resultado fue el Acuerdo de la Concordia de 1981, que
    garantizaba la estabilidad técnica, ya que los equipos iban a recibir un
    aviso razonable de las nuevas normativas. Aunque FISA afirmó su derecho a
    los ingresos de televisión, entregó la administración de los derechos a la
    FOCA.18​ En 1987, la FOCA cedió la gestión de los derechos de televisión a
    la Formula One Promotions and Administration (FOPA), luego renombrada
    Formula One Management, bajo la dirección de Ecclestone. El desarrollo de
    ayudas electrónicas a los pilotos comenzó durante la década de 1980. Lotus
    desarrolló un sistema de suspensión activa que apareció por primera vez
    durante el año 1982 en el Lotus 91. En 1987, este sistema fue perfeccionado
    y conducido a la victoria por Ayrton Senna en el Gran Premio de Mónaco de
    ese año. A principios de 1990 otros equipos siguieron su ejemplo y
    desarrollaron cajas de cambio semi-automáticas y control de tracción eran
    una progresión natural. La FIA, debido a las quejas de que la tecnología
    determinaba el resultado de las carreras más de la habilidad del piloto,
    prohibió muchas de estas ayudas para el año 1994. Esto dio lugar a que los
    coches que anteriormente dependían de las ayudas electrónicas fuesen
    difíciles de conducir —en particular el Williams FW16—. Muchos observadores
    consideraron que la prohibición de las ayudas al conductor no se concretaron
    ya que "demostraron ser difíciles de controlar con eficacia".19​ Los equipos
    firmaron un segundo Acuerdo de la Concordia en 1992 y un tercero en 1997,
    que expiró el último día de 2007.20​ En la pista, McLaren y Williams
    dominaron los años 1980 y 1990; Brabham también fue competitivo durante la
    primera parte de la década de 1980, al ganar dos mundiales de pilotos con
    Nelson Piquet. Desarrollado por Porsche, Honda y Mercedes-Benz, en ese
    período McLaren ganó dieciséis campeonatos —siete de constructores y nueve
    de conductores—, mientras que Williams utilizó motores de Ford, Honda y
    Renault para ganar también dieciséis títulos —nueve de constructores y siete
    de pilotos—.21​ La rivalidad entre los pilotos Ayrton Senna y Alain Prost se
    convirtió en el foco central de la F1 en 1988, y continuó hasta que el
    francés se retiró a finales de 1993.22​ Senna murió en el Gran Premio de San
    Marino de 1994 después de chocar contra un muro en la salida de la curva de
    Tamburello, el mismo fin de semana en que Roland Ratzenberger perdió la vida
    en un accidente durante la clasificación del sábado. La FIA ha trabajado
    para mejorar las normas de seguridad de este deporte. Desde entonces, ningún
    piloto había muerto en la pista al volante de un coche de Fórmula 1 hasta
    2015 con la muerte de Jules Bianchi accidentado en 2014 en Suzuka, si bien
    también tres comisarios de pista han perdido la vida: uno en el Gran Premio
    de Italia de 2000, el segundo en el Gran Premio de Australia 2001 y el
    tercero en el Gran Premio de Canadá de 2013.23​ Los pilotos de los equipos
    McLaren, Williams, Renault (antes Benetton), y Ferrari, ganaron cada
    campeonato del mundo de 1984 a 2008 y los propios equipos ganaron cada
    campeonato de constructores entre 1979 y 2008.21​ Debido a los avances
    tecnológicos de la década de 1990, el costo de competir en la Fórmula 1 ha
    aumentado dramáticamente. Este aumento de las cargas financieras, combinado
    con el predominio de los cuatro equipos —en gran parte financiados por
    grandes fabricantes de automóviles como Mercedes-Benz—, hizo que los equipos
    más pobres e independientes lucharan no solo para mantener la
    competitividad, sino para mantenerse en el negocio, y obligó a varios
    equipos a retirarse. Desde 1990, veintiocho equipos se han retirado de la
    Fórmula 1. El regreso de los fabricantes El retorno de Schumacher y
    Mercedes-Benz a la Fórmula 1 en 2010, sacudió a la categoría. Plantilla de
    Team Lotus, ubicados en la parrilla de salida del Gran Premio de Bélgica de
    2011. Michael Schumacher y Ferrari ganaron cinco campeonatos de pilotos
    (2000-2004) y seis de constructores (1999-2004) consecutivos, algo sin
    precedentes. Schumacher estableció muchos récords nuevos, incluidos los de
    victorias de Gran Premio (91), victorias en una temporada (trece de
    dieciocho), y más títulos de conductores (siete).24​ La racha de Schumacher
    terminó el 25 de septiembre de 2005, cuando el piloto de Renault Fernando
    Alonso se convirtió en el campeón más joven de la Fórmula 1 hasta ese
    momento. Durante el año 2006, Renault y Alonso volvieron a ganar los dos
    títulos. Schumacher se retiró a finales de 2006 después de dieciséis años en
    la Fórmula 1, pero salió de su retiro para la temporada 2010, corriendo para
    el recién formado equipo Mercedes, durante tres temporadas.25​ Durante este
    período la FIA cambió con frecuencia las reglas del campeonato con la
    intención de mejorar la acción en la pista y la reducción de costes.26​ Las
    órdenes de equipo, legales desde que el torneo inició en 1950, fueron
    prohibidas en 2002 después de varios incidentes en los que los equipos
    abiertamente manipularon los resultados de la carrera, generando publicidad
    negativa. El caso más famoso fue el del Gran Premio de Austria de 2002 por
    el equipo Ferrari pero volverían a ser legales para la temporada 2011. Otros
    cambios incluyen el formato de clasificación, el sistema de puntuación, los
    reglamentos técnicos y normas que especifican la duración de los motores y
    los neumáticos, entre otros. Una "guerra de neumáticos" entre proveedores
    Michelin y Bridgestone generó un nuevo conflicto que se reflejó en el Gran
    Premio de los Estados Unidos de 2005, en Indianápolis, en el que siete de
    los diez equipos no compitieron cuando se consideró el uso de sus neumáticos
    Michelin como peligroso en la curva de óvalo del circuito mixto del lugar,
    lo que llevó a que Bridgestone fuera el proveedor de neumáticos exclusivos
    en la categoría para la temporada 2007. Durante el año 2006, Max Mosley
    esbozó un futuro "verde" para la Fórmula 1, en el que el uso eficiente de la
    energía se convertiría en un factor importante.27​ Desde 1983, la Fórmula 1
    había sido dominado por equipos especializados en carreras, como Williams,
    McLaren y Benetton, usando motores suministrados por los grandes fabricantes
    de automóviles como Mercedes-Benz, Honda, Renault y Ford. A partir de 2000,
    con la creación del equipo Jaguar, de poco éxito, los nuevos equipos de
    propiedad del fabricante entraron en la Fórmula 1 por primera vez desde la
    salida de Alfa Romeo y Renault a finales de 1985. Para el año 2006, los
    equipos de fabricantes como Renault, BMW, Toyota, Honda y Ferrari dominaron
    el torneo, teniendo cinco de los seis primeros lugares en el campeonato de
    constructores. La única excepción fue McLaren, que en ese momento era
    parte-propiedad de Mercedes Benz. Declive de los fabricantes Después de
    competir ocho temporadas consecutivas, Toyota se despidió de la Fórmula 1 en
    2009. A finales de los años 2000, como consecuencia de la crisis económica,
    se produjo la retirada de varias escuderías de la F1: Honda y Super Aguri a
    fines de 2008, y BMW y Toyota a fines de 2009.28​29​ Por su parte,
    Mercedes-Benz formó su propio equipo en 2010, inicialmente llamado Mercedes
    GP, a la vez que retiró paulatinamente su apoyo económico a McLaren. El
    empresario malayo Tony Fernandes intentó que otro histórico constructor,
    Team Lotus, regresara a la Fórmula 1 a partir de 2010. Para eso, inscribió a
    una escudería anglo-malaya30​31​ bajo la denominación Lotus Racing, mientras
    que en su última temporada utilizó el nombre e imagen del mítico Team Lotus,
    tras adquirir durante 2010 los derechos de la marca Team Lotus y su
    patrimonio histórico. Esto generó que fuese considerado por varios medios de
    prensa especializados como la continuación del histórico equipo de
    Chapman.32​33​34​31​35​36​37​ La reaparición de Team Lotus en la Fórmula 1
    trajo algunas polémicas con su empresa "hermana", Lotus Cars. El 27 de mayo
    de 2011, el Tribunal Superior dictaminó que el equipo podría seguir
    utilizando el nombre Lotus en la F1 y se confirmó a Fernandes como el
    propietario del nombre Team Lotus con el derecho a llamar a sus coches
    "Lotus" y usar el logotipo de la marca según los términos del acuerdo de
    1985 entre Lotus Cars y Team Lotus.38​39​ Sin embargo, a partir de 2012 su
    plaza fue reemplazada por Caterham Cars bajo la denominación de Caterham F1
    Team,40​ para evitar posibles disputas legales con Lotus Cars (propietario
    de los coches Lotus), por el derecho al uso del nombre "Lotus" en Fórmula 1.
    Esta modificación permitió que, desde 2012 hasta 2015, Genii Capital,
    comprador de Renault, compitiera en Fórmula 1 como Lotus F1 Team, junto con
    el patrocinio de Lotus Cars. En 2011 surgieron rumores de la venta de la
    categoría a capitales privados,41​ pero fueron rápidamente desmentidos por
    el propio Ecclestone.42​ En 2014 fue acusado de corrupción por un medio
    alemán, pero fue exonerado y la apelación fue rechazada.43​ El equipo
    Marussia se sumó a la lista de escuderías efímeras, al cerrar sus puertas en
    noviembre de 2014,44​ y Caterham fue embargada y exonerada de correr las
    primeras fechas de 2015 en espera de conseguir un comprador.45​ Ante esta
    crisis, la Comisión europea formó una comisión de investigación para ver
    cómo se distribuyen los 714 millones de euros que tuvo la Fórmula 1 en
    concepto de ingresos comerciales.46​ Si bien algunos opinan que la categoría
    está sufriendo una crisis económica,47​ Ecclestone dijo que no hay tal cosa
    y que el problema se debe a la mala administración de los llamados «equipos
    chicos», que «gastaron más de lo que tenían».46​ El fabricante japonés Honda
    volvió a la Fórmula 1 en 2015 como proveedora de motores de McLaren. En
    2016, el fabricante francés Renault recompró a la escudería Lotus,
    renombrándola nuevamente a Renault. Debido a la baja de las audiencias por
    la baja competitividad de las últimas temporadas (monopolizadas por Red Bull
    y luego Mercedes-AMG), la FIA y los equipos acordaron modificar el
    reglamento técnico para la temporada 2017. El Formula One Group es
    controlado desde septiembre de 2016 por la empresa estadounidense Liberty
    Media, propiedad de John C. Malone. Bernie Ecclestone continuo como director
    ejecutivo de la empresa hasta el 23 de enero de 2017, luego de 39 años al
    mando de los negocios de la Fórmula 1. Deporte y reglamento Artículo
    principal: Reglas de la Fórmula 1 El reglamento de la Fórmula 1, elaborado
    por la Federación Internacional del Automóvil, está dividido en dos partes
    principales. Una de ellas (Technical Regulations) se refiere a las
    condiciones técnicas de los monoplazas y la otra (Sporting Regulations) se
    centra en las condiciones en que se deben desarrollar los eventos, así como
    las reglas de puntuación y de penalización.48​ Además, en todo evento de
    Fórmula 1 deben contemplarse las prescripciones generales de la FIA.49​
    Puntuación y orden del campeonato Artículo principal: Sistemas de puntuación
    de Fórmula 1 Podio del Gran Premio de Gran Bretaña de 2007. En aquella
    temporada, el campeonato se definió por un solo punto a favor de Kimi
    Räikkönen (Ferrari), sobre Lewis Hamilton (McLaren) y Fernando Alonso
    (McLaren). A lo largo de los años, el orden de puntuación para los pilotos y
    los constructores ha ido variando, pero siempre se ha premiado más a los
    primeros que a los últimos, excepto entre 1950 y 1959, que también puntuaba
    el piloto que registrase la vuelta rápida de la carrera.50​ La puntuación
    actual en un Gran Premio se distribuye de la siguiente manera: el ganador de
    la prueba conseguirá 25 puntos; el segundo clasificado, 18; el tercero, 15;
    el cuarto, 12; el quinto, 10; el sexto, 8; el séptimo, 6; el octavo, 4; el
    noveno, 2; y el décimo, 1 punto. Durante décadas, la puntuación ha
    determinado el orden en la clasificación del campeonato del mundo de pilotos
    y de constructores, pues quien tuviera más puntos sería el campeón, y en
    caso de empate decidirían las mejores posiciones en carrera. En el caso de
    los constructores, la suma de los puntos de sus pilotos determina los puntos
    totales del equipo y la posición del mismo en el campeonato.51​ En 2014 la
    última carrera del campeonato recibió puntos dobles. Inicialmente Ecclestone
    propuso que esta idea se aplicara a las últimas tres fechas para dar emoción
    al campeonato, pero se aplicó solo al Gran Premio de Abu Dabi. Esta medida
    recibió duras críticas52​ y no produjo los resultados deseados en los
    campeonatos de pilotos o de constructores, por lo cual fue dejada de lado y
    no se aplicó en la temporada 2015.53​ Desde 2015, y por decisión de la
    mayoría de pilotos en una reunión preestablecida, la puntuación doble en la
    última carrera del campeonato se descarta y se mantiene la puntuación
    establecida desde 2010 hasta 2013. Desde 2019, y al igual que desde 1950
    hasta 1959, se otorgara un punto al piloto de entre los diez primeros
    clasificados que consiga la vuelta rápida, perdiendo el efecto cuando el
    piloto que consigue la vuelta rápida esta ubicado en undécimo lugar o
    inferior.54​ Si los dos automóviles de un equipo acaban en los puntos, ambos
    computan en el Campeonato de Constructores. El número total de puntos
    ganados en cada carrera se suman, y el conductor y el constructor con más
    puntos al final de la temporada son campeones del mundo en su categoría
    correspondiente. Si un piloto cambia de equipo durante la temporada,
    mantiene todos los puntos para su campeonato que haya conquistado con el
    equipo anterior.55​ Para recibir puntos un piloto debe clasificar, es decir,
    completar al menos el 90% de la distancia total recorrida por el ganador.
    Sin embargo, en ciertas condiciones es posible recibir puntos incluso si se
    retira antes de concluir la carrera.56​ En caso de que el ganador complete
    menos del 75% de las vueltas de carrera, solo se otorga la mitad de los
    puntos a pilotos y constructores. Esto ha ocurrido solo cinco veces en la
    historia de la Fórmula 1, la última vez fue en el Gran Premio de Malasia de
    2009, cuando la carrera fue cancelada después de 31 vueltas debido a la
    lluvia torrencial. Esta circunstancia decidió al ganador del campeonato en
    una ocasión.57​
  </p>
</section>
