footer {
  background-color: #010101;
  .row {
    .col {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.page-footer {
  height: 100%;
}