<nav>
  <div class="nav-wrapper">
    <a routerLink="home" routerLinkActive="active" class="brand-logo center"><img src="../../../assets/logo.jpg" alt="logo"></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="about-us" routerLinkActive="active">About Us</a></li>
      <li><a routerLink="drivers" routerLinkActive="active">Pilots</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="home" routerLinkActive="active">Home</a></li>
  <li><a routerLink="about-us" routerLinkActive="active">About Us</a></li>
  <li><a routerLink="drivers" routerLinkActive="active">Pilots</a></li>
</ul>
