nav {
  background-color: #010101;
  height: 100%;
  .brand-logo {
    img {
      max-width: 100px;
      height: 64px;
      max-height: 100px;
    }
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;
}