section {
  width: 100%;
  img {
    width: 100%;
  }
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  .li {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-family: 'Titillium Web', sans-serif;
  }
  .pts {
    background-color: #f3f3f3;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.info {
  background-color: #f3f3f3;
}